In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df.head()

,Unnamed: 0,HHID,WAVE,HHINC_CPI,HHINCPC_CPI,HHBUS,HHBUSIMP,HHFARM,HHFARMIMP,HHFISH,...,HHOTHR,HHOTHRIMP,HHRETIRE,HHRETIREIMP,HHSUB,HHSUBIMP,T1,URBAN,cyear,thousands
0,1,211101001,1989,14174.529412,4724.843137,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,1806.14,1,21,1,0,14.174529
1,2,211101002,1989,13085.823529,4361.941176,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,2035.58,1,21,1,0,13.085824
2,3,211101003,1989,15047.352941,5015.784314,0.0,0,0.0,0,0,...,510.000000,0,0.0,0,1783.90,1,21,1,0,15.047353
3,4,211101004,1989,17020.176471,5673.392157,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,1818.46,1,21,1,0,17.020176
4,5,211101005,1989,28431.293008,9477.097669,0.0,0,0.0,0,0,...,484.339623,1,3600.0,0,2722.70,1,21,1,0,28.431293

In [4]:
df["HHID"].unique()

array([211101001, 211101002, 211101003, ..., 552303161, 552303162,
       552304161], dtype=int64)

In [12]:
num_HHID_with_multiple_provinces = 0
for id in df["HHID"].unique():
    df_subset = df[df['HHID']==id]
    if len(df_subset["T1"].unique()) > 1:
        num_HHID_with_multiple_provinces += 1

print(num_HHID_with_multiple_provinces)

0

In [13]:
num_HHID_switch_urban = 0
for id in df["HHID"].unique():
    df_subset = df[df['HHID']==id]
    if len(df_subset["URBAN"].unique()) > 1:
        num_HHID_with_multiple_provinces += 1

print(num_HHID_with_multiple_provinces)

0

In [6]:
for province in df["T1"].unique():
    df_subset = df[df['T1']==province]
    print(province, df_subset["WAVE"].unique())

21 [1989 1991 1993 2000 2004 2006 2009 2011 2015]
32 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
37 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
41 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
42 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
43 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
45 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
52 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
23 [1997 2000 2004 2006 2009 2011 2015]
11 [2011 2015]
31 [2011 2015]
55 [2011 2015]

In [10]:
df[df['T1'].isin([11,31,55])]

,Unnamed: 0,HHID,WAVE,HHINC_CPI,HHINCPC_CPI,HHBUS,HHBUSIMP,HHFARM,HHFARMIMP,HHFISH,...,HHOTHR,HHOTHRIMP,HHRETIRE,HHRETIREIMP,HHSUB,HHSUBIMP,T1,URBAN,cyear,thousands
32132,32133,111101001,2011,87787.610619,43893.805310,0.0,0,0.0,0,0,...,8000.0,0,91200.0,0,0.0,0,11,1,22,87.787611
32133,32134,111101002,2011,104070.796460,104070.796460,0.0,0,0.0,0,0,...,1000.0,0,0.0,0,600.0,0,11,1,22,104.070796
32134,32135,111101003,2011,90619.469027,45309.734513,0.0,0,0.0,0,0,...,0.0,0,102000.0,0,400.0,0,11,1,22,90.619469
32135,32136,111101004,2011,46194.690265,23097.345133,0.0,0,0.0,0,0,...,0.0,0,0.0,0,0.0,0,11,1,22,46.194690
32136,32137,111101005,2011,24778.761062,12389.380531,0.0,0,0.0,0,0,...,300.0,0,0.0,0,100.0,0,11,1,22,24.778761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43666,43667,552304017,2015,96373.626374,32124.542125,0.0,0,0.0,0,27600,...,0.0,0,0.0,0,0.0,0,55,0,26,96.373626
43667,43668,552304018,2015,10208.791209,3402.930403,0.0,0,0.0,0,0,...,0.0,0,0.0,0,0.0,0,55,0,26,10.208791
43668,43669,552304019,2015,41099.898250,13699.966083,0.0,0,5961.0,1,0,...,0.0,0,0.0,0,0.0,0,55,0,26,41.099898
43669,43670,552304020,2015,18505.392755,6168.464252,0.0,0,5200.0,0,0,...,0.0,0,0.0,0,0.0,0,55,0,26,18.505393
43670,43671,552304161,2015,21428.571429,5357.142857,0.0,0,3200.0,0,0,...,0.0,0,0.0,0,0.0,0,55,0,26,21.428571

In [30]:
import math
input_arr = [
 0.008812,
-0.001850,
 0.001218,
 0.016233,
-0.004791,
]

for i in input_arr:
    print(round(math.exp(i),4))

1.0089
0.9982
1.0012
1.0164
0.9952

In [8]:
variables = ["CYEAR", 
             "URBAN", 
#              "T1_23_IND", 
#              "T1_32_IND", 
#              "T1_37_IND",
#             "T1_41_IND",
#             "T1_42_IND",
#             "T1_43_IND", 
#             "T1_45_IND",
#             "T1_52_IND", 
             "T1",
            "BUSINESS_IND", 
            "FARM_IND", 
            "FISH_IND", 
            "LVST_IND",
            "OTHR_IND", 
            "RETIRE_IND",
            "SUB_IND"]
three_way = []

for i in range(len(variables)):
    for j in range(i+1, len(variables)):
        for k in range(j+1, len(variables)):
            three_way.append(" * ".join([variables[i], variables[j], variables[k]]))

In [10]:
for t in three_way:
    print(t + "+")

CYEAR * URBAN * T1+
CYEAR * URBAN * BUSINESS_IND+
CYEAR * URBAN * FARM_IND+
CYEAR * URBAN * FISH_IND+
CYEAR * URBAN * LVST_IND+
CYEAR * URBAN * OTHR_IND+
CYEAR * URBAN * RETIRE_IND+
CYEAR * URBAN * SUB_IND+
CYEAR * T1 * BUSINESS_IND+
CYEAR * T1 * FARM_IND+
CYEAR * T1 * FISH_IND+
CYEAR * T1 * LVST_IND+
CYEAR * T1 * OTHR_IND+
CYEAR * T1 * RETIRE_IND+
CYEAR * T1 * SUB_IND+
CYEAR * BUSINESS_IND * FARM_IND+
CYEAR * BUSINESS_IND * FISH_IND+
CYEAR * BUSINESS_IND * LVST_IND+
CYEAR * BUSINESS_IND * OTHR_IND+
CYEAR * BUSINESS_IND * RETIRE_IND+
CYEAR * BUSINESS_IND * SUB_IND+
CYEAR * FARM_IND * FISH_IND+
CYEAR * FARM_IND * LVST_IND+
CYEAR * FARM_IND * OTHR_IND+
CYEAR * FARM_IND * RETIRE_IND+
CYEAR * FARM_IND * SUB_IND+
CYEAR * FISH_IND * LVST_IND+
CYEAR * FISH_IND * OTHR_IND+
CYEAR * FISH_IND * RETIRE_IND+
CYEAR * FISH_IND * SUB_IND+
CYEAR * LVST_IND * OTHR_IND+
CYEAR * LVST_IND * RETIRE_IND+
CYEAR * LVST_IND * SUB_IND+
CYEAR * OTHR_IND * RETIRE_IND+
CYEAR * OTHR_IND * SUB_IND+
CYEAR * RETIRE_IND * SUB_IND+
URBAN * T1 * BUSINESS_IND+
URBAN * T1 * FARM_IND+
URBAN * T1 * FISH_IND+
URBAN * T1 * LVST_IND+
URBAN * T1 * OTHR_IND+
URBAN * T1 * RETIRE_IND+
URBAN * T1 * SUB_IND+
URBAN * BUSINESS_IND * FARM_IND+
URBAN * BUSINESS_IND * FISH_IND+
URBAN * BUSINESS_IND * LVST_IND+
URBAN * BUSINESS_IND * OTHR_IND+
URBAN * BUSINESS_IND * RETIRE_IND+
URBAN * BUSINESS_IND * SUB_IND+
URBAN * FARM_IND * FISH_IND+
URBAN * FARM_IND * LVST_IND+
URBAN * FARM_IND * OTHR_IND+
URBAN * FARM_IND * RETIRE_IND+
URBAN * FARM_IND * SUB_IND+
URBAN * FISH_IND * LVST_IND+
URBAN * FISH_IND * OTHR_IND+
URBAN * FISH_IND * RETIRE_IND+
URBAN * FISH_IND * SUB_IND+
URBAN * LVST_IND * OTHR_IND+
URBAN * LVST_IND * RETIRE_IND+
URBAN * LVST_IND * SUB_IND+
URBAN * OTHR_IND * RETIRE_IND+
URBAN * OTHR_IND * SUB_IND+
URBAN * RETIRE_IND * SUB_IND+
T1 * BUSINESS_IND * FARM_IND+
T1 * BUSINESS_IND * FISH_IND+
T1 * BUSINESS_IND * LVST_IND+
T1 * BUSINESS_IND * OTHR_IND+
T1 * BUSINESS_IND * RETIRE_IND+
T1 * BUSINESS_IND * SUB_IND+
T1 * FARM_IND * FISH_IND+
T1 * FARM_IND * LVST_IND+
T1 * FARM_IND * OTHR_IND+
T1 * FARM_IND * RETIRE_IND+
T1 * FARM_IND * SUB_IND+
T1 * FISH_IND * LVST_IND+
T1 * FISH_IND * OTHR_IND+
T1 * FISH_IND * RETIRE_IND+
T1 * FISH_IND * SUB_IND+
T1 * LVST_IND * OTHR_IND+
T1 * LVST_IND * RETIRE_IND+
T1 * LVST_IND * SUB_IND+
T1 * OTHR_IND * RETIRE_IND+
T1 * OTHR_IND * SUB_IND+
T1 * RETIRE_IND * SUB_IND+
BUSINESS_IND * FARM_IND * FISH_IND+
BUSINESS_IND * FARM_IND * LVST_IND+
BUSINESS_IND * FARM_IND * OTHR_IND+
BUSINESS_IND * FARM_IND * RETIRE_IND+
BUSINESS_IND * FARM_IND * SUB_IND+
BUSINESS_IND * FISH_IND * LVST_IND+
BUSINESS_IND * FISH_IND * OTHR_IND+
BUSINESS_IND * FISH_IND * RETIRE_IND+
BUSINESS_IND * FISH_IND * SUB_IND+
BUSINESS_IND * LVST_IND * OTHR_IND+
BUSINESS_IND * LVST_IND * RETIRE_IND+
BUSINESS_IND * LVST_IND * SUB_IND+
BUSINESS_IND * OTHR_IND * RETIRE_IND+
BUSINESS_IND * OTHR_IND * SUB_IND+
BUSINESS_IND * RETIRE_IND * SUB_IND+
FARM_IND * FISH_IND * LVST_IND+
FARM_IND * FISH_IND * OTHR_IND+
FARM_IND * FISH_IND * RETIRE_IND+
FARM_IND * FISH_IND * SUB_IND+
FARM_IND * LVST_IND * OTHR_IND+
FARM_IND * LVST_IND * RETIRE_IND+
FARM_IND * LVST_IND * SUB_IND+
FARM_IND * OTHR_IND * RETIRE_IND+
FARM_IND * OTHR_IND * SUB_IND+
FARM_IND * RETIRE_IND * SUB_IND+
FISH_IND * LVST_IND * OTHR_IND+
FISH_IND * LVST_IND * RETIRE_IND+
FISH_IND * LVST_IND * SUB_IND+
FISH_IND * OTHR_IND * RETIRE_IND+
FISH_IND * OTHR_IND * SUB_IND+
FISH_IND * RETIRE_IND * SUB_IND+
LVST_IND * OTHR_IND * RETIRE_IND+
LVST_IND * OTHR_IND * SUB_IND+
LVST_IND * RETIRE_IND * SUB_IND+
OTHR_IND * RETIRE_IND * SUB_IND+

In [17]:
mine = """LOG_THOUSANDS_SHIFTED ~ CYEAR + URBAN + T1 + BUSINESS_IND + FARM_IND + 
    FISH_IND + LVST_IND + OTHR_IND + RETIRE_IND + SUB_IND + (1 | 
    HHID) + CYEAR * RETIRE_IND + T1_23_IND * CYEAR + T1_32_IND * 
    CYEAR + CYEAR * BUSINESS_IND + T1_45_IND * CYEAR + T1_41_IND * 
    CYEAR + T1_43_IND * CYEAR + T1_37_IND * CYEAR + CYEAR * URBAN + 
    CYEAR * SUB_IND + T1_52_IND * CYEAR + T1_42_IND * CYEAR + 
    CYEAR * LVST_IND + CYEAR * OTHR_IND""".split(" + ")
theirs = """LOG_THOUSANDS_SHIFTED ~ CYEAR + T1 + URBAN + BUSINESS_IND + FARM_IND + 
    FISH_IND + LVST_IND + OTHR_IND + RETIRE_IND + SUB_IND + (1 | 
    HHID) + CYEAR * URBAN + T1_23_IND * CYEAR + T1_32_IND * CYEAR + 
    T1_37_IND * CYEAR + T1_41_IND * CYEAR + T1_42_IND * CYEAR + 
    T1_43_IND * CYEAR + T1_45_IND * CYEAR + T1_52_IND * CYEAR + 
    CYEAR * BUSINESS_IND + CYEAR * FARM_IND + CYEAR * FISH_IND + 
    CYEAR * LVST_IND + CYEAR * OTHR_IND + CYEAR * RETIRE_IND + 
    CYEAR * SUB_IND""".split(" + ")

In [18]:
len(mine)

25

In [19]:
len(theirs)

27

In [20]:
[t for t in mine if t not in theirs]

['T1_32_IND * \n    CYEAR',
 'CYEAR * BUSINESS_IND',
 'T1_41_IND * \n    CYEAR',
 'T1_43_IND * CYEAR',
 'T1_37_IND * CYEAR']

In [21]:
[t for t in theirs if t not in mine]

['T1_32_IND * CYEAR',
 '\n    T1_37_IND * CYEAR',
 'T1_41_IND * CYEAR',
 '\n    T1_43_IND * CYEAR',
 '\n    CYEAR * BUSINESS_IND',
 'CYEAR * FARM_IND',
 'CYEAR * FISH_IND']

In [25]:
for m in mine:
    
    print("\"" + m.replace("\n", "") + "\",")

"LOG_THOUSANDS_SHIFTED ~ CYEAR",
"URBAN",
"T1",
"BUSINESS_IND",
"FARM_IND",
"    FISH_IND",
"LVST_IND",
"OTHR_IND",
"RETIRE_IND",
"SUB_IND",
"(1 |     HHID)",
"CYEAR * RETIRE_IND",
"T1_23_IND * CYEAR",
"T1_32_IND *     CYEAR",
"CYEAR * BUSINESS_IND",
"T1_45_IND * CYEAR",
"T1_41_IND *     CYEAR",
"T1_43_IND * CYEAR",
"T1_37_IND * CYEAR",
"CYEAR * URBAN",
"    CYEAR * SUB_IND",
"T1_52_IND * CYEAR",
"T1_42_IND * CYEAR",
"    CYEAR * LVST_IND",
"CYEAR * OTHR_IND",