In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,Unnamed: 0,HHID,WAVE,HHINC_CPI,HHINCPC_CPI,HHBUS,HHBUSIMP,HHFARM,HHFARMIMP,HHFISH,...,HHOTHR,HHOTHRIMP,HHRETIRE,HHRETIREIMP,HHSUB,HHSUBIMP,T1,URBAN,cyear,thousands
0,1,211101001,1989,14174.529412,4724.843137,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,1806.14,1,21,1,0,14.174529
1,2,211101002,1989,13085.823529,4361.941176,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,2035.58,1,21,1,0,13.085824
2,3,211101003,1989,15047.352941,5015.784314,0.0,0,0.0,0,0,...,510.000000,0,0.0,0,1783.90,1,21,1,0,15.047353
3,4,211101004,1989,17020.176471,5673.392157,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,1818.46,1,21,1,0,17.020176
4,5,211101005,1989,28431.293008,9477.097669,0.0,0,0.0,0,0,...,484.339623,1,3600.0,0,2722.70,1,21,1,0,28.431293

In [4]:
df["HHID"].unique()

array([211101001, 211101002, 211101003, ..., 552303161, 552303162,
       552304161], dtype=int64)

In [12]:
num_HHID_with_multiple_provinces = 0
for id in df["HHID"].unique():
    df_subset = df[df['HHID']==id]
    if len(df_subset["T1"].unique()) > 1:
        num_HHID_with_multiple_provinces += 1

print(num_HHID_with_multiple_provinces)

0

In [13]:
num_HHID_switch_urban = 0
for id in df["HHID"].unique():
    df_subset = df[df['HHID']==id]
    if len(df_subset["URBAN"].unique()) > 1:
        num_HHID_with_multiple_provinces += 1

print(num_HHID_with_multiple_provinces)

0