In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df.head()

,Unnamed: 0,HHID,WAVE,HHINC_CPI,HHINCPC_CPI,HHBUS,HHBUSIMP,HHFARM,HHFARMIMP,HHFISH,...,HHOTHR,HHOTHRIMP,HHRETIRE,HHRETIREIMP,HHSUB,HHSUBIMP,T1,URBAN,cyear,thousands
0,1,211101001,1989,14174.529412,4724.843137,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,1806.14,1,21,1,0,14.174529
1,2,211101002,1989,13085.823529,4361.941176,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,2035.58,1,21,1,0,13.085824
2,3,211101003,1989,15047.352941,5015.784314,0.0,0,0.0,0,0,...,510.000000,0,0.0,0,1783.90,1,21,1,0,15.047353
3,4,211101004,1989,17020.176471,5673.392157,0.0,0,0.0,0,0,...,0.000000,0,0.0,0,1818.46,1,21,1,0,17.020176
4,5,211101005,1989,28431.293008,9477.097669,0.0,0,0.0,0,0,...,484.339623,1,3600.0,0,2722.70,1,21,1,0,28.431293

In [4]:
df["HHID"].unique()

array([211101001, 211101002, 211101003, ..., 552303161, 552303162,
       552304161], dtype=int64)

In [12]:
num_HHID_with_multiple_provinces = 0
for id in df["HHID"].unique():
    df_subset = df[df['HHID']==id]
    if len(df_subset["T1"].unique()) > 1:
        num_HHID_with_multiple_provinces += 1

print(num_HHID_with_multiple_provinces)

0

In [13]:
num_HHID_switch_urban = 0
for id in df["HHID"].unique():
    df_subset = df[df['HHID']==id]
    if len(df_subset["URBAN"].unique()) > 1:
        num_HHID_with_multiple_provinces += 1

print(num_HHID_with_multiple_provinces)

0

In [6]:
for province in df["T1"].unique():
    df_subset = df[df['T1']==province]
    print(province, df_subset["WAVE"].unique())

21 [1989 1991 1993 2000 2004 2006 2009 2011 2015]
32 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
37 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
41 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
42 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
43 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
45 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
52 [1989 1991 1993 1997 2000 2004 2006 2009 2011 2015]
23 [1997 2000 2004 2006 2009 2011 2015]
11 [2011 2015]
31 [2011 2015]
55 [2011 2015]

In [10]:
df[df['T1'].isin([11,31,55])]

,Unnamed: 0,HHID,WAVE,HHINC_CPI,HHINCPC_CPI,HHBUS,HHBUSIMP,HHFARM,HHFARMIMP,HHFISH,...,HHOTHR,HHOTHRIMP,HHRETIRE,HHRETIREIMP,HHSUB,HHSUBIMP,T1,URBAN,cyear,thousands
32132,32133,111101001,2011,87787.610619,43893.805310,0.0,0,0.0,0,0,...,8000.0,0,91200.0,0,0.0,0,11,1,22,87.787611
32133,32134,111101002,2011,104070.796460,104070.796460,0.0,0,0.0,0,0,...,1000.0,0,0.0,0,600.0,0,11,1,22,104.070796
32134,32135,111101003,2011,90619.469027,45309.734513,0.0,0,0.0,0,0,...,0.0,0,102000.0,0,400.0,0,11,1,22,90.619469
32135,32136,111101004,2011,46194.690265,23097.345133,0.0,0,0.0,0,0,...,0.0,0,0.0,0,0.0,0,11,1,22,46.194690
32136,32137,111101005,2011,24778.761062,12389.380531,0.0,0,0.0,0,0,...,300.0,0,0.0,0,100.0,0,11,1,22,24.778761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43666,43667,552304017,2015,96373.626374,32124.542125,0.0,0,0.0,0,27600,...,0.0,0,0.0,0,0.0,0,55,0,26,96.373626
43667,43668,552304018,2015,10208.791209,3402.930403,0.0,0,0.0,0,0,...,0.0,0,0.0,0,0.0,0,55,0,26,10.208791
43668,43669,552304019,2015,41099.898250,13699.966083,0.0,0,5961.0,1,0,...,0.0,0,0.0,0,0.0,0,55,0,26,41.099898
43669,43670,552304020,2015,18505.392755,6168.464252,0.0,0,5200.0,0,0,...,0.0,0,0.0,0,0.0,0,55,0,26,18.505393
43670,43671,552304161,2015,21428.571429,5357.142857,0.0,0,3200.0,0,0,...,0.0,0,0.0,0,0.0,0,55,0,26,21.428571